body{
     background: linear-gradient(to top,rgba(21, 155, 165, 0.9),rgba(93, 48, 167, 0.9));
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
}
header{
     text-align: center;
}
.choose:hover{
     color: wheat;
}
main{
     
}
footer{
     margin-left: 50%;
}
footer p{
     margin:1px;
}
*{
     color: black;
}
table{
     width: 100%;
     height: 40px;
     border: 1px solid black;
     border-radius: 10px;
     background-color: white;
     /* table-layout: fixed; */
}
th{
     border: 1px solid black;
     border-radius: 20%;
     background-color: rgb(58, 188, 221);
}
.main_page{
     font-size: 40px;
}
div{
     margin:12px;
     clear: left;

}
a{
     text-decoration: none; 
}
a:hover{
     color:rgb(117, 12, 30);
}
.big_content{
     text-align: center;
}
li{
     margin-bottom:10px;
     margin-top:10px;
}
img{
     height: 200px;
     width: 300px;
     float: left;
     margin-top:10px;
     margin-bottom:10px;
     margin-right:20px;
}
#IN{
     color: white;
}